[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
assertpy = "*"
flake8 = "*"
black = "*"
isort = "*"
freezegun = "*"
"aws-cdk.core" = "*"
"aws-cdk.aws-lambda" = "*"

[packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
